* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  border: 1px solid #e5e5e5;
  padding: 15px;
  width: 100%;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: left;
  width: 40%;
  margin-left: 30px;
}